.el-form-item__label {
    font-family: PingFangSC-Regular !important ;
    font-size: 14px !important;
    letter-spacing: 0 !important;
    color:#262626 !important
}
.el-button--primary {
    background-color: #004FE0 !important;
    border-color: #004FE0 !important;
}
.el-button--small {
    height:32px
}
.el-button--mini, .el-button--small{
    font-size: 14px !important;
}